:root{
    --main-green-color: #60C2AA;
    --main-pink-color: #E38BAC;
    --main-white-color: #FFFFFF;
    --main-text-color: #373745;
}

/*main-page styles*/

body {
    margin: 0;
    padding: 0;

    background: rgba(246, 246, 246, 1);
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

header {
    position: fixed;
    width: -webkit-fill-available;
    left: 0;
    top: 0;
    background: var(--main-white-color);
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#nav-panel {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    height: 32px;
    flex: none;
    flex-grow: 0;
}

#nav-panel div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    flex: none;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: var(--main-text-color);
}

#nav-panel .active {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;

    background: var(--main-green-color);
    border-radius: 200px;
    color: var(--main-white-color);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#main-container {
    margin-top: 64px;
    padding: 80px 40px;
    display: flex;
    justify-content: space-between;
}

#subject-list {
    /* Auto layout */

    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    width: 500px;
    background: var(--main-white-color);
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 20px;
}

#subject-list h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--main-text-color);
    margin: 0;
}

#subject-list > .container {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#subject-list > .container > .subject-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#subject-list .subject-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: var(--main-text-color);
}

#subject-list .subject-percent {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #898993;
}

#subject-list .subject-icon {
    width: 24px;
    height: 24px;
}

#subject-list .subject-info {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

#game-container {
    width: 663px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#game-time {
    width: fit-content;
    padding: 24px;

    background: #EDEDED;
    border-radius: 12px;

    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px;

    color: var(--main-text-color);
}

#game-board {
    width: 663px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 4px;
}

#game-board .cell {
    width: 218.33px;
    height: 218.33px;
    background: #FFFFFF;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#game-step {
    width: 400px;
    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-text-color);
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 12px;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: var(--main-white-color);
}

#chat-container {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 0px;
    margin-bottom: 88px;
    gap: 20px;

    width: 412px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: var(--main-text-color);
}

.msgs-container {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 12px;
}

.msg-container {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;

    max-width: 352px;

    background: var(--main-white-color);
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
}

.msg-container.other {
    align-self: flex-start;
    border-radius: 16px 16px 16px 0px;
}

.msg-container.me {
    align-self: flex-end;
    border-radius: 16px 16px 0px 16px;
}

.msg-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: -webkit-fill-available;
}

.subject-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.subject-name.x {
    color: var(--main-green-color);
}
.subject-name.zero {
    color: var(--main-pink-color);
}

.msg-header .time {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #898993;
}

.msg-interactive-elements {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 12px;
    width: -webkit-fill-available;
}

.msg-interactive-elements button {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;

    width: 48px;
    height: 48px;

    background: var(--main-green-color);
    border-radius: 12px;
}

.msg-interactive-elements textarea {
    resize: none;
    width: -webkit-fill-available;
    height: 48px;
    max-height: max-content;
    overflow: hidden;
    box-sizing: border-box;

    /* Auto layout */

    padding: 12px 20px;
    gap: 8px;
    background: var(--main-white-color);
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: var(--main-text-color);
}

/*authorization page styles*/

#main-auth-container {
    display: grid;
    place-items: center;
    height: 100vh;
}

#auth-window {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 464px;

    background: var(--main-white-color);

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

#auth-logo {
    width: 132px;
    height: 132px;
    padding-top: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#auth-welcome-text {
    width: -webkit-fill-available;
    height: 36px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: var(--main-text-color);
}

#login, #password {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;
    font-size: 16px;

    width: 312px;
    height: 24px;

    background: var(--main-white-color);
    border: 1px solid #DCDCDF;
    border-radius: 12px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#login::placeholder, #password::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #B1B1B7;
} 

#auth-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;

    width: 352px;
    height: 48px;

    background: rgba(96, 194, 170, 0.3);
    border-radius: 12px;
}

#auth-label-text {
    width: 47px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.24px;

    color: var(--main-white-color);
    cursor: pointer;
}

table {
    width: 962px;
}

th {
    text-align: left;
    padding: 6px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid #EEEFF5;
}
th:nth-child(2), th:nth-child(3), th:nth-child(4) {
    padding-left: 36px;
}

td {
    text-align: left;
    padding: 12px 0px;
    border-bottom: 1px solid #EEEFF5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

td:nth-child(2), td:nth-child(3), td:nth-child(4) {
    padding-left: 36px;
}

#main-table-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    height: 856px;
    width: 1026px;
    left: calc(50% - 1026px/2);
    top: 144px;
    bottom: 80px;

    background: var(--main-white-color);

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
    z-index: -999;
}

#rating-table-container {
    width: 100%;
    height: 100%;
    padding: 32px;
}

#rating-table-title {
    width: 189px;
    height: 36px;
    padding-bottom: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;

    color: var(--main-text-color);
} 

#rating-table-wins {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #69B849;
}

#rating-table-lose {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #E93E3E;
}

/*media for others screens*/

@media only screen
  and (max-device-width: 1600px) { 

    /*main page styles*/

    #main-container {
        margin-top: 10px;
    }

    #subject-list {
        width: 300px;
    }

    #subject-list h1 {
        font-size: 20px;
    }

    #subject-list .subject-name {
        font-size: 18px;
    }

    #game-container {
        width: 490px;
        gap: 15px;
    }

    #game-time {
        padding: 14px;
        font-size: 24px;
        line-height: 30px
    }

    #game-board {
        width: 490px;
    }
    
    #game-board .cell {
        width: 160px;
        height: 160px;
    }

    #xxl-x {
        width: 160px;
        height: 160px;
    }

    #xxl-zero {
        width: 160px;
        height: 160px;
    }

    #game-step {
        font-size: 18px;
        line-height: 22px;
    }

    /*authorization page styles*/
}